<section class="bordered-container">
  <div class="user-card flex--column column--top--center">
    <div class="user-card__user-info flex--column column--middle--center">
      <div class="user flex--column column--middle--center">
        <img
          class="user__avatar"
          src="https://avatars.githubusercontent.com/u/60369989?v=4"
          alt=""
        />
        <span class="user__name">{{userData.name}}</span>
        <span class="user__username">@{{userData.login}}</span>
        <span class="user__bio">{{userData.bio}}</span>
      </div>
      <a
        class="primary-btn primary-btn--green"
        href="{{userData.html_url}}"
      >Folow</a>
    </div>
    <div class="user-card__work-info flex--row row--middle--center">
      <div class="info-card">
        <p>{{userData.public_repos}}</p>
        <span>Repositories</span>
      </div>
      <div class="info-card">
        <p>{{userData.public_gists}}</p>
        <span>Gists</span>
      </div>
      <div class="info-card">
        <p>{{userData.followers}}</p>
        <span>Followers</span>
      </div>
      <div class="info-card">
        <p>{{userData.following}}</p>
        <span>Following</span>
      </div>
    </div>
    <span class="bottom-bar"></span>
  </div>
</section>